# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_AUDIO_ENDPOINT
    bool "Audio endpoint"
    help
      Audio streaming endpoint.

if SERVICE_AUDIO_ENDPOINT

module = SERVICE_AUDIO_ENDPOINT
module-str = Audio endpoint
source "subsys/logging/Kconfig.template.log_level"

endif
