# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_POLL_REMOTE
    bool "Poll remote"
    help
      Poll-remote service.

if SERVICE_POLL_REMOTE

module = SERVICE_POLL_REMOTE
module-str = Poll remote
source "subsys/logging/Kconfig.template.log_level"

endif
