# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_TIMEZONE_DATABASE
    bool "Timezone database"
    help
      Timezone database service.

if SERVICE_TIMEZONE_DATABASE

module = SERVICE_TIMEZONE_DATABASE
module-str = Timezone database
source "subsys/logging/Kconfig.template.log_level"

endif
