# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menuconfig PMIC
    bool "PMIC"
    help
      PMIC Drivers

if PMIC

config PMIC_NPM1300
    bool "Nordic nPM1300"
    help
      Support for the Nordic nPM1300 PMIC.

module = DRIVER_PMIC
module-str = PMIC
source "subsys/logging/Kconfig.template.log_level"

endif # PMIC
