# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_MESSAGE
    bool "App message"
    help
      AppMessage (app <-> phone) transport.

if SERVICE_APP_MESSAGE

module = SERVICE_APP_MESSAGE
module-str = App message
source "subsys/logging/Kconfig.template.log_level"

endif
