# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_DATA_LOGGING
    bool "Data logging"
    help
      Data logging (DLS) service.

if SERVICE_DATA_LOGGING

module = SERVICE_DATA_LOGGING
module-str = Data logging
source "subsys/logging/Kconfig.template.log_level"

endif
