# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_ORDER_ENDPOINT
    bool "App order endpoint"
    help
      Endpoint used to order installed apps in the launcher.

if SERVICE_APP_ORDER_ENDPOINT

module = SERVICE_APP_ORDER_ENDPOINT
module-str = App order endpoint
source "subsys/logging/Kconfig.template.log_level"

endif
