# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_FETCH_ENDPOINT
    bool "App fetch endpoint"
    help
      Endpoint used by the phone to fetch apps on demand.

if SERVICE_APP_FETCH_ENDPOINT

module = SERVICE_APP_FETCH_ENDPOINT
module-str = App fetch endpoint
source "subsys/logging/Kconfig.template.log_level"

endif
