# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_NEW_TIMER
    bool "New timer"
    help
      Legacy "new" timer service.

if SERVICE_NEW_TIMER

module = SERVICE_NEW_TIMER
module-str = New timer
source "subsys/logging/Kconfig.template.log_level"

endif
