# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PING
    bool "Ping"
    help
      Ping endpoint.

if SERVICE_PING

module = SERVICE_PING
module-str = Ping
source "subsys/logging/Kconfig.template.log_level"

endif
