# native_emery board configuration

CONFIG_SOC_POSIX=y

CONFIG_PLATFORM_EMERY=y

CONFIG_SCREEN_COLOR_DEPTH_BITS_8=y

CONFIG_LIBC_HOST=y

CONFIG_UART=y

CONFIG_DISPLAY=y

CONFIG_FLASH=y

CONFIG_OTP=y

CONFIG_BATTERY=y

CONFIG_VIBE=y

CONFIG_TOUCH=y

CONFIG_AMBIENT_LIGHT=y

CONFIG_BACKLIGHT=y

CONFIG_RTC=y

CONFIG_RNG=y

CONFIG_TEMPERATURE=y

CONFIG_APP_SCALING=y

CONFIG_LOG_HASHED=n


CONFIG_ACCEL_POSIX=y

CONFIG_MIC=y

CONFIG_PULSE_EVERYWHERE=n
