---
BasedOnStyle: Google
ColumnLimit: 100
PointerAlignment: Right
SortIncludes: Never
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
AlignConsecutiveMacros: Consecutive
BreakStringLiterals: false
BracedInitializerIndentWidth: 2
SpacesBeforeTrailingComments: 1
