# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_SETTINGS
    bool "Settings"
    help
      Settings-file storage service.

if SERVICE_SETTINGS

module = SERVICE_SETTINGS
module-str = Settings
source "subsys/logging/Kconfig.template.log_level"

endif
