# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PROTOBUF_LOG
    bool "Protobuf log"
    help
      Protobuf-encoded log/data upload service.

if SERVICE_PROTOBUF_LOG

module = SERVICE_PROTOBUF_LOG
module-str = Protobuf log
source "subsys/logging/Kconfig.template.log_level"

endif
