# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_EVENTED_TIMER
    bool "Evented timer"
    help
      Event-loop timer service.

if SERVICE_EVENTED_TIMER

module = SERVICE_EVENTED_TIMER
module-str = Evented timer
source "subsys/logging/Kconfig.template.log_level"

endif
