# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Logging"

config LOG
    bool "Logging"
    default y
    help
      Build the PBL_LOG macros. Disable to save space.

config LOG_HASHED
    bool "Hashed logs"
    default y
    depends on LOG && !QEMU
    help
      Replace log format strings with hashes to save space. Disable
      for human-readable logs.

choice
    prompt "Default log level"
    default DEFAULT_LOG_LEVEL_INFO

config DEFAULT_LOG_LEVEL_ERROR
    bool "Error"

config DEFAULT_LOG_LEVEL_WARNING
    bool "Warning"

config DEFAULT_LOG_LEVEL_INFO
    bool "Info"

config DEFAULT_LOG_LEVEL_DEBUG
    bool "Debug"

config DEFAULT_LOG_LEVEL_DEBUG_VERBOSE
    bool "Debug verbose"

endchoice

config DEFAULT_LOG_LEVEL
    int
    default 1 if DEFAULT_LOG_LEVEL_ERROR
    default 50 if DEFAULT_LOG_LEVEL_WARNING
    default 100 if DEFAULT_LOG_LEVEL_INFO
    default 200 if DEFAULT_LOG_LEVEL_DEBUG
    default 255 if DEFAULT_LOG_LEVEL_DEBUG_VERBOSE

choice
    prompt "Flash log level"
    default FLASH_LOG_LEVEL_INFO

config FLASH_LOG_LEVEL_ERROR
    bool "Error"

config FLASH_LOG_LEVEL_WARNING
    bool "Warning"

config FLASH_LOG_LEVEL_INFO
    bool "Info"

config FLASH_LOG_LEVEL_DEBUG
    bool "Debug"

config FLASH_LOG_LEVEL_DEBUG_VERBOSE
    bool "Debug verbose"

endchoice

config LOG_TASK_PREFIX
    bool "Task prefix"
    depends on LOG
    help
      Prefix log messages with the originating task identifier char
      (uppercase when logged from privileged mode).

config PULSE_EVERYWHERE
    bool "PULSE everywhere"
    default y if !RELEASE || MFG
    help
      Use the PULSE protocol for logs and the prompt. Disable to fall
      back to legacy logs and prompt.

endmenu
