# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_WEATHER
    bool "Weather"
    help
      Weather service.

if SERVICE_WEATHER

module = SERVICE_WEATHER
module-str = Weather
source "subsys/logging/Kconfig.template.log_level"

endif
