# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"

rsource "ambient/Kconfig"
rsource "backlight/Kconfig"
rsource "battery/Kconfig"
rsource "display/Kconfig"
rsource "exti/Kconfig"
rsource "flash/Kconfig"
rsource "gpio/Kconfig"
rsource "hrm/Kconfig"
rsource "i2c/Kconfig"
rsource "imu/Kconfig"
rsource "mic/Kconfig"
rsource "otp/Kconfig"
rsource "pmic/Kconfig"
rsource "pressure/Kconfig"
rsource "pwm/Kconfig"
rsource "rng/Kconfig"
rsource "rtc/Kconfig"
rsource "speaker/Kconfig"
rsource "temperature/Kconfig"
rsource "touch/Kconfig"
rsource "uart/Kconfig"
rsource "vibe/Kconfig"
rsource "watchdog/Kconfig"

endmenu
