# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_CLOCK
    bool "Clock"
    help
      Wall-clock time formatting and events.

if SERVICE_CLOCK

module = SERVICE_CLOCK
module-str = Clock
source "subsys/logging/Kconfig.template.log_level"

endif
