# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_REGULAR_TIMER
    bool "Regular timer"
    help
      Periodic timer service (seconds/minutes ticks).

if SERVICE_REGULAR_TIMER

module = SERVICE_REGULAR_TIMER
module-str = Regular timer
source "subsys/logging/Kconfig.template.log_level"

endif
