# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PRF_UPDATE
    bool "PRF update"
    help
      Recovery firmware update service.

if SERVICE_PRF_UPDATE

module = SERVICE_PRF_UPDATE
module-str = PRF update
source "subsys/logging/Kconfig.template.log_level"

endif
