# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_FIRMWARE_UPDATE
    bool "Firmware update"
    help
      Firmware update endpoint/state machine.

if SERVICE_FIRMWARE_UPDATE

module = SERVICE_FIRMWARE_UPDATE
module-str = Firmware update
source "subsys/logging/Kconfig.template.log_level"

endif
