# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_SHARED_PRF_STORAGE
    bool "Shared PRF storage"
    help
      Shared storage used by the PRF (recovery) firmware.

if SERVICE_SHARED_PRF_STORAGE

module = SERVICE_SHARED_PRF_STORAGE
module-str = Shared PRF storage
source "subsys/logging/Kconfig.template.log_level"

endif
