# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_TICK_TIMER
    bool "Tick timer"
    help
      Tick-timer service (wall-clock tick events).

if SERVICE_TICK_TIMER

module = SERVICE_TICK_TIMER
module-str = Tick timer
source "subsys/logging/Kconfig.template.log_level"

endif
