# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_EVENT_SERVICE
    bool "Event service"
    help
      Generic event subscription/delivery service.

if SERVICE_EVENT_SERVICE

module = SERVICE_EVENT_SERVICE
module-str = Event service
source "subsys/logging/Kconfig.template.log_level"

endif
