# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PROCESS_MANAGEMENT
    bool "Process management"
    help
      App/process management and app storage.

if SERVICE_PROCESS_MANAGEMENT

module = SERVICE_PROCESS_MANAGEMENT
module-str = Process management
source "subsys/logging/Kconfig.template.log_level"

endif
