# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_REGISTRY_ENDPOINT
    bool "Registry endpoint"
    help
      Registry endpoint for remote key/value access.
