# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_BLOB_DB
    bool "Blob DB"
    help
      BlobDB (persistent key/value stores used for timeline, notifications,
      apps, contacts, ...).

if SERVICE_BLOB_DB

module = SERVICE_BLOB_DB
module-str = Blob DB
source "subsys/logging/Kconfig.template.log_level"

endif
