# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_INBOX_SERVICE
    bool "App inbox"
    help
      App inbox messaging service.

if SERVICE_APP_INBOX_SERVICE

module = SERVICE_APP_INBOX_SERVICE
module-str = App inbox
source "subsys/logging/Kconfig.template.log_level"

endif
