# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_STATIONARY
    bool "Stationary"
    help
      Stationary (idle-detection) service.

if SERVICE_STATIONARY

module = SERVICE_STATIONARY
module-str = Stationary
source "subsys/logging/Kconfig.template.log_level"

endif
