# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_SERVICES_NORMAL
    bool "Normal services glue"
    help
      Normal services init/runlevel glue. Required when any other normal
      service is enabled.
