# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_ANALYTICS
    bool "Analytics"
    help
      Firmware analytics and telemetry.

if SERVICE_ANALYTICS

module = SERVICE_ANALYTICS
module-str = Analytics
source "subsys/logging/Kconfig.template.log_level"

endif
