# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_NOTIFICATIONS
    bool "Notifications"
    help
      Notifications, alerts and ANCS.

if SERVICE_NOTIFICATIONS

module = SERVICE_NOTIFICATIONS
module-str = Notifications
source "subsys/logging/Kconfig.template.log_level"

config SERVICE_ALERTS_LOG_LEVEL_RUNTIME
    default y if !RECOVERY_FW

module = SERVICE_ALERTS
module-str = Alert UI
source "subsys/logging/Kconfig.template.log_level"

endif
