# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_VOICE
    bool "Voice"
    default y if MIC
    select SPEEX
    help
      Voice (dictation) service. Requires a microphone driver (CONFIG_MIC).

if SERVICE_VOICE

module = SERVICE_VOICE
module-str = Voice
source "subsys/logging/Kconfig.template.log_level"

endif
