# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PERSIST
    bool "Persist"
    help
      App-persistent storage service.

if SERVICE_PERSIST

module = SERVICE_PERSIST
module-str = Persist
source "subsys/logging/Kconfig.template.log_level"

endif
