# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_VOICE_ENDPOINT
    bool "Voice endpoint"
    select SPEEX
    help
      Voice endpoint (phone-side voice transport).

if SERVICE_VOICE_ENDPOINT

module = SERVICE_VOICE_ENDPOINT
module-str = Voice endpoint
source "subsys/logging/Kconfig.template.log_level"

endif
