# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_VIBE_PATTERN
    bool "Vibe pattern"
    help
      Vibration pattern playback service.

if SERVICE_VIBE_PATTERN

config SERVICE_VIBE_PATTERN_LOG_LEVEL_RUNTIME
    default y if !RECOVERY_FW

module = SERVICE_VIBE_PATTERN
module-str = Vibe pattern
source "subsys/logging/Kconfig.template.log_level"

endif
