# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_TIMELINE
    bool "Timeline"
    help
      Timeline service and layouts.

if SERVICE_TIMELINE

module = SERVICE_TIMELINE
module-str = Timeline
source "subsys/logging/Kconfig.template.log_level"

endif
