# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_CACHE
    bool "App cache"
    help
      On-flash app cache.

if SERVICE_APP_CACHE

module = SERVICE_APP_CACHE
module-str = App cache
source "subsys/logging/Kconfig.template.log_level"

endif
