# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_SPEAKER
    bool "Speaker"
    help
      Speaker (PCM/note-sequence) playback service.

if SERVICE_SPEAKER

module = SERVICE_SPEAKER
module-str = Speaker
source "subsys/logging/Kconfig.template.log_level"

endif
