# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_HEALTH_SYNC_ENDPOINT
    bool "Health sync endpoint"
    help
      Health data sync endpoint.

if SERVICE_HEALTH_SYNC_ENDPOINT

module = SERVICE_HEALTH_SYNC_ENDPOINT
module-str = Health sync endpoint
source "subsys/logging/Kconfig.template.log_level"

endif
