# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_COMPOSITOR
    bool "Compositor"
    help
      UI compositor and window transitions.

if SERVICE_COMPOSITOR

module = SERVICE_COMPOSITOR
module-str = Compositor
source "subsys/logging/Kconfig.template.log_level"

endif
