# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_SYSTEM_TASK
    bool "System task"
    help
      Background system task runner.

if SERVICE_SYSTEM_TASK

module = SERVICE_SYSTEM_TASK
module-str = System task
source "subsys/logging/Kconfig.template.log_level"

endif
