# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_FILESYSTEM
    bool "Filesystem"
    help
      Pebble filesystem (PFS) service.

if SERVICE_FILESYSTEM

module = SERVICE_FILESYSTEM
module-str = Filesystem
source "subsys/logging/Kconfig.template.log_level"

endif
