# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_APP_OUTBOX_SERVICE
    bool "App outbox"
    help
      App outbox messaging service.

if SERVICE_APP_OUTBOX_SERVICE

module = SERVICE_APP_OUTBOX_SERVICE
module-str = App outbox
source "subsys/logging/Kconfig.template.log_level"

endif
