# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_SF32LB52
    bool "SiFli SF32LB52 pin controller"
    default y if DT_HAS_SIFLI_SF32LB52_PINCTRL
    help
      Pin multiplexing and pad configuration of the SF32LB52 HPSYS pads.
