# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_GET_BYTES
    bool "Get bytes"
    help
      get_bytes endpoint (file/flash/coredump retrieval).

if SERVICE_GET_BYTES

module = SERVICE_GET_BYTES
module-str = Get bytes
source "subsys/logging/Kconfig.template.log_level"

endif
