# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PHONE_PP
    bool "Phone (Pebble Protocol)"
    help
      Phone endpoint over Pebble Protocol.

if SERVICE_PHONE_PP

module = SERVICE_PHONE_PP
module-str = Phone (Pebble Protocol)
source "subsys/logging/Kconfig.template.log_level"

endif
