# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_WAKEUP
    bool "Wakeup"
    help
      App wakeup scheduling service.

if SERVICE_WAKEUP

module = SERVICE_WAKEUP
module-str = Wakeup
source "subsys/logging/Kconfig.template.log_level"

endif
