# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_TOUCH
    bool "Touch"
    depends on TOUCH
    default y
    help
      Touch event service. Requires a touch driver (CONFIG_TOUCH).

if SERVICE_TOUCH

module = SERVICE_TOUCH
module-str = Touch
source "subsys/logging/Kconfig.template.log_level"

endif
