# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_PUT_BYTES
    bool "Put bytes"
    help
      put_bytes endpoint (incoming binary transfer).

if SERVICE_PUT_BYTES

module = SERVICE_PUT_BYTES
module-str = Put bytes
source "subsys/logging/Kconfig.template.log_level"

endif
