# SPDX-FileCopyrightText: 2026 Core Devices LLC
# SPDX-License-Identifier: Apache-2.0

config SERVICE_MUSIC
    bool "Music"
    help
      Music control service.

if SERVICE_MUSIC

module = SERVICE_MUSIC
module-str = Music
source "subsys/logging/Kconfig.template.log_level"

endif
